/* expanded view & carousel */
.navbar {
    border-radius: 0px;
}

.navbar-brand {
  font-size: 2.25rem;
}
.expanded {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-modal {
  width: 90vw;
  max-width: 90vw;
  height: 90vw;
  max-height: 90vw;
}

.inner-expanded-img {
  width: 100%;
  height: 0;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 100%;
  cursor: zoom-in;
}

.expanded-expanded-img {
  width: 100%;
  height: 0;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 100%;
  cursor: zoom-out;
  transform: scale();
}

.carousel-indicators .active {
  background-color: grey;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  filter: drop-shadow(8px 8px 10px black);
}

.carousel-indicators li {
  background-color: grey;
  border-radius: 50%;
  border: 2px solid white;
  height: 15px;
  width: 15px;
}

.carousel-control-next, .carousel-control-prev {
  width: 4%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='1' height='1' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='1' height='1' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

/* overview */
.overview-container {
  margin: 10px 10px;
}

/* pure css carousel */
.carousel-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  max-height: 900px;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.main-carousel {
  height: 700px;
  object-fit: contain;
  cursor: zoom-in;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 89px;
}

.right-arrow {
  right: 25px;
}

.up-arrow, .down-arrow {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:white;
  color: gray;
  border: 1px solid #ddd;
}

.up-arrow {
  top: 20%;
  left: 30px;
}

.down-arrow {
  bottom: 20%;
  left: 30px;
}

@media only screen and (max-width: 1200px) {
  .right-arrow {
    right: 20px;
  }
}

.thumbnail-carousel {
  top: 50%;
  position: absolute;
  z-index: 1;
  width: 65px;
  height: 365px;
  overflow: hidden;
  transform: translateY(-50%);
}

.thumbnail-carousel-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.selected-thumbnail {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid white;
  filter: drop-shadow(8px 8px 10px black);
  cursor: pointer;
}


/* style selector */

.style-selector {
  height: 285px;
  width: 350px;
}
@media only screen and (max-width: 1200px) {
  .style-selector {
    width: 265px;
  }
}

.thumbnail-img {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  margin: 10px 10px;
  cursor: pointer;
}

.selected-style {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px 10px;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid white;
  filter: drop-shadow(8px 8px 10px black);
}

.style-check {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 50px;
}

/* product info */

.product-info {
  height: 250px;
  width: 280px;
}

.product-cat {
  margin: 5px 0;
}

.star-image {
  height: 20px;
  width: 20px;
}

.review-link {
  text-decoration: underline;
  cursor: pointer;
}

.product-description {
  margin-top: 5px;
  height: 90px;
}

.social-media {
  height: 30px;
  width: 30px;
}

.modified-prices {
  height: 19px;
  width: 200px;
}

.sale-price, .original-price {
  float: left;
  padding: 2px;
}

.sale-price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

/* add to cart */

.add-to-cart {
  height: 180px;
  width: 280px;
}

.select-size-message {
  color: rgb(94, 148, 228);
}

.dropdowns {
  height: 40px;
  width: 180px;
  /* padding: 10px; */
}

.size, .qty {
  padding: 12px;
  cursor: pointer;
}

.qty {
  float: right;
}

.add-buttons {
  height: 40px;
  width: 290px;
  padding-top: 10px;
  float: left;
}

.add-to-cart-button {
  height: 40px;
  width: 70px;
  border-radius: 8px;
}

.add-to-cart-button:active {
  background-color: rgb(94, 148, 228);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.add-to-related {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  background-color: rgb(233, 232, 232);
  border-radius: 8px;
  float: right;
  cursor: pointer;
}


.add-to-related:active {
  background-color: rgb(94, 148, 228);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#related-star {
  height: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 7px;
}
