.overview-container {
  text-align: center;
  margin: 10px 30px;
}

.image-gallery, .product-info, .style-selector, .add-to-cart {
  outline: 2px solid black;
}

.main-image {
  height: 300px;
  width: 230px;
}

.thumbnail-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
