.overview-container {
  text-align: center;
  margin: 10px 10px;
}

.image-gallery, .product-info, .style-selector, .add-to-cart {
  outline: 2px solid black;
}
.main-carousel {
  height: 500px;
  width: 400px;
}

.thumbnail-img {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  position: relative;
  top: 0;
  left: 0;
}

.style-check {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0px;
  left: 50px;
}

.social-media {
  height: 30px;
  width: 30px;
}

.sale-price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

/* /* .size-dropdown {
  float: left;
} */

/* .qty-dropdown {
  float: right;
} */

/* .add-to-cart {
  float: left;
} */

.add-to-related {
  height: 30px;
  width: 30px;
  outline: 2px solid black;
  float: right;
}
