.question-answer-container {
  text-align: center;
}

/* .header {
  padding-left: 10%;
} */

.search-bar {
  width: 100%;
  height: 35px;
  padding: 5px 1%;
}

.input-group.mb-5.col-md-8 {
  padding-left: 10%;
}