/* .related-comparison-container {
  text-align: center;
} */

.cardInfo {
  text-align: left;
}

.cardHeader {
  text-align: left;
}

.transition-modal-title {
  text-align: left;
}

.valueList {
  text-align: right;
}
.featureList {
  text-align: center;
}

.addOutfit {
  height: 50px;
  width: 100px;
}

.outfitContainer {
  max-height: 400px;
}

.relatedCarousel {
  /* width: auto !important;
  height: 15vh !important;
  bottom: 0; */
  text-align: center;
}

.press:active {
  transform: translateY(4px);

}

.bname {
  margin-left: 10px;
  position: absolute;
  margin-top: 95px;
  font-size:small;
  font-family: "Monaco", "Courier New", monospace;
  font-weight:bolder;

}

.holder{
max-width: 1005px;}

