.rating-review-container {
  text-align: center;
}

.review-box {
  border-style:solid;
  border-color:grey;
  background-color:lightsteelblue;
  padding-bottom:2px;
}

.summary-container {
  border-style:solid;
  border-color:grey;
  background-color:lightcoral;
  padding-bottom:2px;
}

.review-filter {
  border-style:solid;
  border-color:grey;
  background-color:lightsalmon;
  padding-bottom:2px;
}

.star-image {
  height:20px;
  width:20px;
}